{% extends "index.html" %}
{% block body %}
<nav class="navbar navbar-inverse" style="background-color: #140033">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CS2Go</a>
        </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

<div class="container">
	<h2>About us</h2>

	<p>PACT is a partnership between researchers in the Department of Computer Science at Maynooth University and teachers in primary and post-primary schools around Ireland. Its objective is to introduce students and teachers to Computer Science through programming and Algorithms, with the aim of improving CT skills in participating students. Now in its fourth year, the programme has been delivered in over 60 schools and to over 1000 students. The PACT team provides teachers with training and resources to allow them to better teach Computer Science in their classrooms.</p>

	<p>With the introduction of programming to the curriculum and the call from administrators and governments to include more Computer Science content in schools, we have begun developing a comprehensive course for Transition Year students. By teaching Computer Science topics including programming, web development and non-computer-based (unplugged) activities, our goal for this course is to develop students’ CT skills as well as their knowledge of Computer Science.
	</p>

	<p>The aims of this course, in no particular order are as follows:</p>

	<ul>
	  <li>Introduce students to Computer Science, what it is, how it can affect their lives, how they can be involved.</li>
	  <li>Improve students’ CT and problem-solving skills by making them aware of a problem-solving process and how it can be beneficial in many subjects and areas of life.</li>
	  <li>Improve students’ understanding of Computer Science including an imbalance in participation rates across genders and a stereotyped view of who engages in Computer Science. </li>
	  <li>Teach students Computer Science concepts such as Algorithms, Cryptography, Sorting/Searching Algorithms etc. with a focus not just on the concepts themselves but on real-world applications.</li>
	  <li>Teach students programming to some level. </li>
	</ul>

	<p>We hope you find these resources useful and beneficial for you and your students. </p> 

</div>

{% endblock %}