{% extends "index.html" %}
{% block body %}
<nav id="navbarColor" class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CS2Go</a>
        </div>
    </div>
</nav>

<div id="backgroundRegisterPage" style="height: 580px;>
    <div class="container">
        <div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"  style="margin-top: 25px;">

            <div class="panel panel-info">
                <div id="registerPage" class="panel-heading">
                    <div class="panel-title"><h2>Sign Up</h2></div>
                    <div style="float:right; font-size:80%; position:relative; top:-60px;"><a href="signIn">Sign In</a></div>
                </div>

                <div style="padding-top:30px" class="panel-body">

                    <form id="signupform" class="form-horizontal" role="form" method=POST action="{{ url_for('register') }}">

                        <div style="display:none" id="signupalert" class="alert alert-danger col-sm-12">
                            <p>Error:</p>
                            <span></span>
                        </div>

                        <div style="margin-bottom:25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                            <select name="school" class="form-control" required>
                                <option value="" disabled selected>Select your school</option>
                                <option value="Maynooth">Maynooth</option>
                                <option value="Kilcock">Kilcock</option>
                            </select>
                        </div>

                        <div style="margin-bottom:25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                            <select name="title" class="form-control" required>
                                <option value="" disabled selected>Title</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                                <option value="Mr">Mr</option>
                                <option value="Dr">Dr.</option>
                                <option value="Prof">Prof.</option>
                            </select>
                        </div>

                        <div style="margin-bottom:25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="name" placeholder="First Name" required>
                        </div>

                        <div style="margin-bottom:25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="surname" placeholder="Last Name" required>
                        </div>

                        <div style="margin-bottom:25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </div>

                        <div style="margin-bottom:25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="pass" placeholder="Password" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </form>

                </div>           
            </div>

        </div>

    </div>

</div>
{% endblock %}