{% extends "index.html" %}
{% block body %}
<script type="text/javascript">
  function showDiv() {
   document.getElementById('acceptedQuiz').style.display = "block";
   document.getElementById('hideDiv').style.display = "none";
}
</script>
<div id="acceptedQuiz"  style="display:none;">

<div style="background-color: black" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 container-fluid bg-info">
  <div class="modal-dialog">
<div>
    <h1 style="color: white">Bebras</h1>
</div>
    <div id="results"></div>
    <form id="quizForm" class="form-horizontal" role="form" method=POST action="{{ url_for('bebras1') }}">
      <hr />
      <div class="questions modal-content">
      <div class="modal-header"><h3>Braclet</h3></div>
      <div class="modal-body">
      <label>Emily has broken her favourite bracelet. The broken bracelet now looks like this:</label> <br>
      <img src="/static/img/BracletQuestion.jpg">
      <h5><b>Question</b></h5>
      <h5>Which of the following four bracelets shows what the bracelet looked like when it was whole?</h5>
      <input type="radio" name="q1" value="a" id="q1a"><img src="/static/img/BracletAnswerA.jpg">
      <input type="radio" name="q1" value="b" id="q1b"><img src="/static/img/BracletAnswerB.jpg">
      <input type="radio" name="q1" value="c" id="q1c"><img src="/static/img/BracletAnswerC.jpg">
      <input type="radio" name="q1" value="d" id="q1d"><img src="/static/img/BracletAnswerD.jpg">
    </div>
  </div>

      <hr />
  <div class="questions modal-content">
  <div class="modal-header"><h3>Animation</h3></div>
  <div class="modal-body">
  <label>Taro is planning an animation of a face that is made from a sequence of pictures.<br> To make the animation run smoothly, only one feature of the face should change from one picture to the next. <br> Unfortunately, the pictures got mixed up. Now Taro must find the correct order again. Luckily, he knows which picture is last.</label>
  <br><img src="/static/img/AnimationQuestion1.jpg">
  <br><img src="/static/img/AnimationQuestion2.jpg">
  <h5><b>Question</b></h5>
  <h5>Put the pictures in the correct order so that Taro makes the correct animation.</h5>
  <input type="text" name="q2"> :Please write your answer
    </div>
  </div>
      <hr />  

  <div class="questions modal-content">
  <div class="modal-header"><h3>Animal Competition</h3></div>
  <div class="modal-body">
  <img src="/static/img/AnimalCompetitionQuestion1.jpg"><br>
  <label>The beavers and dogs had a competition. In total nine animals took part.<br>The nine participants had the following scores: 1, 2, 2, 3, 4, 5, 5, 6, 7.<br>No dog scored more than any beaver.<br>One dog tied with a beaver.<br>There were also two other dogs that tied with each other</label>
  <h5><b>Question</b></h5> 
      <h5>How many dogs took part in the competition?<br><b>2, 3, 5, 6 or 7</b></h5>
      <input type="radio" name="q3" value="2">2<br>
      <input type="radio" name="q3" value="3">3<br>
      <input type="radio" name="q3" value="5">5<br>
      <input type="radio" name="q3" value="6">6<br>
      <input type="radio" name="q3" value="7">7<br>

    </div>
  </div>
      <hr />

      <div class="questions modal-content">
  <div class="modal-header"><h3>Cross Country</h3></div>
  <div class="modal-body">
  <label for="question4">Three very fast beavers will compete in a cross-country run.<br> Mr. Brown will overtake one beaver when running uphill.
  <img src="/static/img/CrossCountryBrownBeaver.jpg"><br>Mrs. Pink will overtake one beaver when running downhill.
  <img src="/static/img/CrossCountryPinkBeaver.jpg"><br>Mrs.Green will overtake one beaver when running across rocks. 
  <img src="/static/img/CrossCountryGreenBeaver.jpg"><br>The terrain is shown in the picture: uphill, followed by some rocks, downhill and then some more rocks.Mrs. Pink starts in the first position, followed by Mr. Brown and Mrs. Green<br></label>
  <img src="/static/img/CrossCountryQuestion.jpg">
  <h5><b>Question</b></h5>
      <h5>4.In which order will the beavers finish the race?</h5>
      <input type="radio" name="q4" value="A">A. Mrs Pink, Mr Brown, Mrs Green<br>
      <input type="radio" name="q4" value="B">B. Mr Brown, Mrs Pink, Mrs Green<br>
      <input type="radio" name="q4" value="C">C. Mr Brown, Mrs Green, Mrs Pink<br>
      <input type="radio" name="q4" value="D">D. Mrs Green, Mrs Pink, Mr Brown<br>
    </div>
  </div>
      <hr />

      <div class="questions modal-content">
  <div class="modal-header"><h3>Stack Computer</h3></div>
  <div class="modal-body">
  <label for="question5">The Stack Computer is loaded with boxes from a conveyer belt. The boxes are marked with a Number or an Operator (+, -, * or /)<br>The computer is loaded until the top box is a box marked with an operator. This operator is then used on the two boxes below it. The three boxes are then fused into one single box and marked with the outcome of the calculation.<br>In the Stack Computer, calculations are entered in a different way to a normal calculator</label>
  <h5><b><u>Examples:</u></b><br>
    2+3 must be entered as 2 3 + <br>
    10-2 must be entered as 10 2 - <br>
    5*2+3 must be entered as 5 2 * 3 + <br>
    5+2*3 must be entered as 5 2 3 * + <br>
    (8-2)*(3+4) must be entered as 8 2 - 3 4 + *
  </h5><br>
  <h5><b>Question</b></h5>
      <h5>How should the following computation be entered: 4*(8+3)-2?</h5>
      <img src="/static/img/StackComputerQuestion.jpg"><br>
      <input type="text" name="q5"> :Please write your answer
    </div>
  </div>
      <hr />

      <div class="questions modal-content">
  <div class="modal-header"><h3>Throw the Dice</h3></div>
  <div class="modal-body">
  <label for="question6">After school the young beavers often play together.<br> To avoid quarrels about where to play, they throw a normal six sided die.<br>The decision is found according to this rule:</label><br>

  <img src="/static/img/ThrowTheDiceQuestion.jpg">
  <h5><b>Question</b></h5>
      <h5>Which sequence of throws will send the young beavers to the sports field?</h5>
      <input type="radio" name="q6" value="1"><img src="/static/img/ThrowTheDiceSequence1.jpg">
      <input type="radio" name="q6" value="2"><img src="/static/img/ThrowTheDiceSequence2.jpg"><br>
      <input type="radio" name="q6" value="3"><img src="/static/img/ThrowTheDiceSequence3.jpg">
      <input type="radio" name="q6" value="4"><img src="/static/img/ThrowTheDiceSequence4.jpg"><br>
    </div>
  </div>
      <hr />


      <div class="questions modal-content">
  <div class="modal-header"><h3>Drawing Stars</h3></div>
  <div class="modal-body">
    <label for="question7">Stella the beaver loves to draw stars. She has devised a system for labelling her stars according to their shape. She uses two numbers: 
<br>A number of dots for the star.<br>A number indicating if a line from a dot is drawn to the nearest dot (the number is 1), the second closest dot (the number is 2), etc. <br> Here are four examples of Stella's labelling system: </label><br>

  <img src="/static/img/DrawingStarsQuestion.jpg">
  <h5><b>Question</b></h5>
      <h5>How would Stella label the following star?</h5>
      <img src="/static/img/DrawingStarsQuestion1.jpg">
      <input type="radio" name="q7" value="9:3">9:3 
      <input type="radio" name="q7" value="9:4">9:4 
      <input type="radio" name="q7" value="10:4">10:4 
      <input type="radio" name="q7" value="10:5">10:5 
    </div>
  </div>
      <hr />

      <div class="questions modal-content">
  <div class="modal-header"><h3>Beaver Lunch</h3></div>
  <div class="modal-body">
    <label for="question8">Hm, what to take for lunch today?<br>The cafeteria gives instructions on how to choose a Beaver lunch.<br> This is shown as a diagram: <br> <img src="/static/img/BeaverLunchQuestion.jpg"><br>Below the tray you see different types of food containers. <br>The numbers indicate how many containers of this type can be added to a tray. <br> Each container can only have food items put in it that are shown below it.<br>The numbers indicate how many food items of this type can be added to the containers </label><br>

  <h5><b>Question</b></h5>
      <h5>Which of the following lunches is not a proper Beaver lunch?</h5>
      <input type="radio" name="q8" value="A"><img src="/static/img/BeaverLunchAnswer1.jpg">
      <input type="radio" name="q8" value="B"><img src="/static/img/BeaverLunchAnswer2.jpg"><br>
      <input type="radio" name="q8" value="C"><img src="/static/img/BeaverLunchAnswer3.jpg">
      <input type="radio" name="q8" value="D"><img src="/static/img/BeaverLunchAnswer4.jpg"><br>
    </div>
  </div>
      <hr />

      <div class="questions modal-content">
  <div class="modal-header"><h3>You Won't Find It</h3></div>
  <div class="modal-body">
    <label for="question9">Beaver Alex and beaver Betty send each other messages using the following sequence of transformations on every word. <br> <img src="/static/img/YouWontFindItQuestion.jpg"><br>For example, the word "BEAVER" is transformed to "WBFCSF". <br>Beaver Betty receives the encoded message "PMGEP" from beaver Alex</label><br>

  <h5><b>Question</b></h5>
      <h5>What did Alex want to say?</h5>
      <input type="radio" name="q9" value="RIVER">RIVER<br>
      <input type="radio" name="q9" value="KNOCK">KNOCK<br>
      <input type="radio" name="q9" value="FLOOD">FLOOD<br>
      <input type="radio" name="q9" value="LODGE">LODGE<br>
    </div>
  </div>
      <hr />

      <div class="questions modal-content">
  <div class="modal-header"><h3>Bowl Factory</h3></div>
  <div class="modal-body">
    <label for="question10">A factory produces sets of 6 bowls of different sizes. A long conveyor belt moves the bowls one by one, from left to right. <br> Bowl production places the 6 bowls of each set onto the conveyor belt in a random order. <br> Before packing the bowls, they need to be sorted to look like this: <br> <img src="/static/img/BowlFactoryQuestion.jpg"><br>To help with the sorting, the factory places workers along the conveyor belt. <br> When a set of bowls passes a worker, the beaver will swap any two neighbouring bowls which are in the wrong order. The worker will keep doing this until the set of 6 bowls has finished passing. <br> See how the order of a set of bowls changes as it passes one worker: </label><br>
    <img src="/static/img/BowlFactoryQuestion1.jpg">

  <h5><b>Question</b></h5>
      <h5>How many workers should be put along the line to sort the set of bowls on the right?</h5><img src="/static/img/BowlFactoryQuestion2.jpg"><br>
      <input type="text" name="q10"> :Please write your answer<br>
    </div>
  </div>
      
      <hr />

      <div class="questions modal-content">
  <div class="modal-header"><h3>Fireworks</h3></div>
  <div class="modal-body">
    <label for="question11">Two beavers live in lodges separated by a large forest.<br>They decide to send messages to each other by shooting fireworks into the sky above the trees.<br> Each message is a sequence of words, though the beavers only know five different words. The beavers can shoot two types of fireworks, one after the other, and know the following codes:<br> <img src="/static/img/FireworksQuestion.jpg"><br>For example, to send the (rather strange) message "food, log, food", a beaver would shoot:</label><br>
    <img src="/static/img/FireworksQuestion1.jpg">

  <h5><b>Question</b></h5>
      <h5>How many <b>different</b> meanings can the following sequence of fireworks have?</h5>
      <img src="/static/img/FireworksQuestion2.jpg"><br>
      <input type="radio" name="q11" value="0">0
      <input type="radio" name="q11" value="1">1
      <input type="radio" name="q11" value="2">2
      <input type="radio" name="q11" value="3">3
      <input type="radio" name="q11" value="4">4
    </div>
  </div>
      <hr />

      <div class="questions modal-content">
  <div class="modal-header"><h3>Kangaroo</h3></div>
  <div class="modal-body">
    <label for="question12">There are 10 plates in a row. There is one apple on each plate. <br> <img src="/static/img/KangarooQuestion.jpg"><br>Thomas the kangaroo loves to jump. First, he jumps onto the leftmost plate with the letter A.<br>On each single jump after this, he either jumps forward two plates, or backwards three plates.(An example of the two possible jumps from one plate is shown with arrows in the picture.)<br>Thomas only jumps onto plates with an apple. <br> If he jumps onto a plate, he collects the apple from it. </label><br>

  <h5><b>Question</b></h5>
      <h5>If Thomas collects all 10 apples, which apple does he collect last?</h5>
      <input type="radio" name="q12" value="A">A
      <input type="radio" name="q12" value="B">B
      <input type="radio" name="q12" value="C">C
      <input type="radio" name="q12" value="D">D
      <input type="radio" name="q12" value="E">E
      <input type="radio" name="q12" value="F">F
      <input type="radio" name="q12" value="G">G
      <input type="radio" name="q12" value="H">H
      <input type="radio" name="q12" value="I">I
      <input type="radio" name="q12" value="J">J
    </div>
  </div>
      <hr />

      <div class="questions modal-content">
  <div class="modal-header"><h3>Spies</h3></div>
  <div class="modal-body">
    <label for="question13">Every Friday, six spies exchange all the information they have gathered during the week. A spy can never be seen with more than one other spy at the same time. So, they have to have several rounds of meetings where they meet up in pairs and share all the information they have at that point. <br>The group of 6 spies needs only three rounds to distribute all their secrets: <br> Before the meetings each spy holds a single piece of information. (spy 1 knows 'a', spy 2 knows 'b, etc.). In the first round spies 1 and 2 meet and exchange information so now both know 'ab'.The diagrams show which spies meet in each round with a line. It also shows which pieces of informationthey all have. After three rounds all information has been distributed.</label><br>

    <img src="/static/img/SpiesQuestion.jpg"><br>

  <h5><b>Which of the following statements is true?</b></h5>
      <h5>After an international incident one spy has stopped attending the meetings. What is the minimum number of rounds needed for the five remaining spies to exchange all information?</h5><br>
      <img src="/static/img/SpiesQuestion1.jpg"><br>
      <input type="radio" name="q13" value="1">1
      <input type="radio" name="q13" value="2">2
      <input type="radio" name="q13" value="3">3
      <input type="radio" name="q13" value="4">4
      <input type="radio" name="q13" value="5">5<br>
    </div>
  </div>
      <hr />

      <input type="hidden" name="grade" id="grade" value="">

      <input class="btn btn-primary btn-block" type="submit" value="Submit Answers" onclick="setValue()">
    </form>
</div>
</div>
</div>

<div id="hideDiv">
  <div class="container">
    <h1> </h1>
  <div class="jumbotron">
    <div class="progress" style="width: 60%; float: right;">
    <div class="progress-bar" style="width: 66%">2/3</div>
</div>
    <h1>Bebras Quiz</h1> 
    <p>You will now be prompted with a set of questions and answers. Please take your time reading them etc........</p> 

      <input class="btn btn-primary" type="button" name="answer" value="Continue To Test ..." onclick="showDiv()"/> 

      <a href="logout"><input style="float: right" class="btn btn-primary" type="button" value="Log out"/></a>
  </div>
</div>

</div>



{% endblock %}


<!--
/*
Answer 1 - B
Answer 2 - B D C A E
Answer 3 - 6
Answer 4 - C 
Answer 5 - 4 8 3 + * 2 - | 4 3 8 + * 2 - | 8 3 + 4 * 2 - | 3 8 + 4 * 2 -
Answer 6 - Image with 3 3 3 (Maybe add images as radios)
Answer 7 - 10:4
Answer 8 - Image D (Maybe add images as radios)
Answer 9 - Flood (Maybe radio button)
Answer 10 - 4
Answer 11 - 4 (Maybe radio buttons)
Answer 12 - Plate I (Maybe radio buttons)
Answer 13 - 4
An
*/
  -->
