{% extends "index.html" %}
{% block body %}
<nav id="navbarColor" class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a style="float: right;" class="navbar-brand" href="profile">
          <img src="/static/img/cs2GoIcon.png" style="width: 17.5%; float: left;">
          &nbsp;&nbsp;CS2Go
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a data-toggle="tooltip" title="View discussion forum" href="posts">
            <span class="glyphicon glyphicon-comment"></span>
          </a>
        </li>
        
        <li><a data-toggle="tooltip" title="View all files" href="files"><span class="glyphicon glyphicon-file"></span></a></li>
        <li><a data-toggle="tooltip" title="View students" href="UsersPage"><span class="glyphicon glyphicon-list" data-toggle="tooltip" data-original-title="Users"></span></a></li>

        <li id="dropdown1" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ name }} {{surname}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="editProfile"><i class="glyphicon glyphicon-cog"></i> Edit Profile</a></li>
            <li><a href="uploadFiles"><i class="glyphicon glyphicon-upload"></i> Upload Files</a></li>
            <li><a href="files"><i class="glyphicon glyphicon-file"></i> Files</a></li>
            <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
          </ul>
        </li>

        <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <table class="table table-hover table-responsive">
    
    <tr style="pointer-events: none;">
      <th>All Files</th>
      <th></th>
      <th>Add</th>
    </tr>

    {% for file in files %}
    <tr>
      <td>
        <a href="allfiles/{{ file['_id'] }}" data-toggle="tooltip" title="Click to open" target="_blank">{{file['filename']}}</a>
      </td>
      <td>
        <a href="allfiles/{{ file['_id'] }}" data-toggle="tooltip" title="Click to download" class="btn btn-primary" download>
          <span style="font-size: 14px;" class="glyphicon glyphicon-download"></span>
        </a>
      </td>
      <td>
        <li style="list-style-type: none;" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span style="color: black; padding-top: 8px;" class="glyphicon glyphicon-option-vertical"></span> 
            <b class="caret"></b>
          </a>
          
          <ul style="margin-left: -50px;" class="dropdown-menu">
            <li style="text-align: center; border-bottom: 1px solid;"><a href=""></a><b>Add files to lesson</b></li>
            <li><a href="/addModule1?_id={{ file['_id'] }}"><i class="glyphicon glyphicon-file"></i> Concepts and Introduction</a></li>
            <li><a href="/addModule2?_id={{ file['_id'] }}"><i class="glyphicon glyphicon-file"></i> Scratch</a></li>
            <li><a href="/addModule3?_id={{ file['_id'] }}"><i class="glyphicon glyphicon-file"></i> Python</a></li>
          </ul>
        </li>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{{filename}}

{% endblock %}
