{% extends "index.html" %}
{% block body %}
<script src="/static/js/jszip.js"></script>
<script src="/static/js/jszip-utils.js"></script>
<script src="http://purl.eligrey.com/github/FileSaver.js/blob/master/src/FileSaver.js"></script>

{% if 'user_id' in session %}
<nav class="navbar navbar-inverse" style="background-color: #140033">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="profile">CS2Go</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ name }} {{surname}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="profilePage"><i class="glyphicon glyphicon-user"></i> View profile</a></li>
              <li><a href="editProfile"><i class="glyphicon glyphicon-cog"></i> Edit Profile</a></li>
              <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
            </ul>
          </li>
          <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

{% elif 'email' in session %}
<nav class="navbar navbar-inverse" style="background-color: #140033">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="profile">CS2Go</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li><a data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-comment"></span></a></li>
            <li><a href="files"><span class="glyphicon glyphicon-file"></span></a></li>
            <li><a href="UsersPage"><span class="glyphicon glyphicon-list" data-toggle="tooltip" data-original-title="Users"></span></a></li>
            <li id="dropdown1" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ name }} {{surname}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="profilePage"><i class="glyphicon glyphicon-user"></i> View profile</a></li>
              <li><a href="editProfile"><i class="glyphicon glyphicon-cog"></i> Edit Profile</a></li>
              <li><a href="uploadFiles"><i class="glyphicon glyphicon-upload"></i> Upload Files</a></li>
              <li><a href="files"><i class="glyphicon glyphicon-file"></i> Files</a></li>
              <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
            </ul>
          </li>
          <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

{% endif %}

    <div class="container">
    	<div class="jumbotron">
    		<h3>Concepts and Introduction</h3>
    	</div>

    	<div class="jumbotron">
    		<table id="mytab1" class="table table-hover table-responsive">
    			<tr style="pointer-events: none;">
    				<th>Course Files</th>
			    </tr>

			    {% for user in files %}
			    <tr>
			    	<td>
			    		<span class="glyphicon glyphicon-file"></span><a id="abc" href="allfiles/{{ user['_id'] }}" download><h5 style="display: inline;"> {{user['filename']}}</h5></a>
			    	</td>
			    </tr>
			    {% endfor %}
			</table>
    	</div>
    </div>

    <button onclick="downloadAll(window.links)">Test me!</button>
    <button onclick="downloadZIP(window.links)">Test me! Zip</button>

<script>
  // var rowCount = document.getElementById('mytab1').rows.length;
  // console.log(rowCount);

  // var link = document.getElementById("abc").getAttribute("href");
  // console.log(link);


var array = []
var tableID = document.getElementById('mytab1')
var rowLen = tableID.rows.length;
for (var i=1; i < rowLen; i++) {
  var cells = tableID.rows.item(i).cells;
  var cellLen = cells.length;
  for(var j=0; j < cellLen; j++) {
    var x = cells.item(j).innerHTML;
    var string1 = x.substring(x.lastIndexOf("href=")+6,x.lastIndexOf("download")-2);
    console.log(string1);
    array.push(string1);
  }
}

console.log(array);

  var links = array;

function downloadAll(urls) {
  var link = document.createElement('a');

  link.setAttribute('download', "Concepts and Introduction"+ ".zip");
  link.style.display = 'none';

  document.body.appendChild(link);

  for (var i = 0; i < urls.length; i++) {
    link.setAttribute('href', urls[i]);
    link.click();
  }

  document.body.removeChild(link);
}

function downloadZIP(urls) {
  var zip = new JSZip();
var count = 0;
var zipFilename = "zipFilename.zip";
var urls = array;

urls.forEach(function(url){
  var filename = "filename";
  // loading a file and add it in a zip file
  JSZipUtils.getBinaryContent(url, function (err, data) {
     if(err) {
        throw err; // or handle the error
     }
     zip.file(filename, data, {binary:true});
     count++;
     if (count == urls.length) {
       zip.generateAsync({type:'blob'}).then(function(content) {
      saveAs(content, zipFilename);
   });
     }
  });
});
}
</script>

<!-- https://www.youtube.com/watch?v=ILolEDZV-NY
 -->

{% endblock %}