{% extends "index.html" %}
{% block body %}

<link rel="stylesheet" href="static/css/main.css" />
<style type="text/css">
	#asize {
		font-size: 16px;
	}
</style>

<header id="header">
	<div class="inner">
		<a style="font-size: 21px;" href="testHomePage" class="logo">CTC Engine</a>
		<nav id="nav">
			<div id="asize">
				<a href="testHomePage">Home</a>
				<a href="#">About</a>
				<a href="#">Services</a>
				<a data-toggle="modal" data-target="#registerModal">Sign Up</a>
				<a data-toggle="modal" data-target="#signInModal">Sign in</a>
			</div>
		</nav>
	</div>
</header>

<section style="background-image: url('/static/img/new/csImage.jpg'); margin-top:-15px;" id="banner">
	<h1 style="background-color: rgba(0, 0, 0, 0.4);">Welcome to the CTC Engine</h1>
	<p style="background-color: rgba(0, 0, 0, 0.4);">A free online learning platform designed with efficenty for maximum performance</p>
</section>

<section id="one" class="wrapper">
	<div class="inner">
		<div class="flex flex-3">
			<article>
				<header>
					<h3>Explore a digital Era in online learning</h3>
				</header>

				<p>Blah blah blah</p>

				<footer>
					<a href="#" class="button special">More</a>
				</footer>
			</article>

			<article>
				<header>
					<h3>Online learning promotes active and independent learning</h3>
				</header>

				<p>Blah blah blah</p>

				<footer>
					<a href="#" class="button special">More</a>
				</footer>
			</article>

			<article>
				<header>
					<h3>Access class content anytime</h3>
				</header>

				<p>Blah blah blah</p>

				<footer>
					<a href="#" class="button special">More</a>
				</footer>
			</article>
		</div>
	</div>
</section>

<section id="two" class="wrapper style1 special" style="background-color: #140033">
	<div class="inner">
		<header>
			<h2>Say something</h2>
			<p>Say something cool</p>
		</header>

		<div class="flex flex-4">
			<div class="box person">
				<div class="image round">
					<img src="/static/img/new/Learn.png" alt="Person 1" />
				</div>

				<h3>Blah</h3>
				<p>Blah Blah</p>
			</div>

			<div class="box person">
				<div class="image round">
					<img src="/static/img/new/Teach.png" alt="Person 1" />
				</div>

				<h3>Blah</h3>
				<p>Blah Blah</p>
			</div>

			<div class="box person">
				<div class="image round">
					<img src="/static/img/new/Find.png" alt="Person 1" />
				</div>

				<h3>Blah</h3>
				<p>Blah Blah</p>
			</div>

			<div class="box person">
				<div class="image round">
					<img src="/static/img/new/Take.png" alt="Person 1" />
				</div>

				<h3>Blah</h3>
				<p>Blah Blah</p>
			</div>
		</div>
	</div>
</section>

<section id="three" class="wrapper special">
	<div class="inner">
		<header class="align-center">
			<h2>Nunc Dignissim</h2>
			<p>Aliquam erat volutpat nam dui </p>
		</header>

		<div class="flex flex-2">
			<article>
				<div class="image fit">
					<img src="/static/img/new/ctc.jpg" alt="Pic 01" />
				</div>

				<header>
					<h3>Compuational thinking...</h3>
				</header>

				<p>Say something</p>
			</article>

			<article>
				<div class="image fit">
					<img src="/static/img/new/dataAnalytics.jpg" alt="Pic 02" />
				</div>

				<header>
					<h3>Data Analytics</h3>
				</header>

				<p>Say something</p>
			</article>
		</div>
	</div>
</section>

<footer id="footer">
	<div class="inner">
		<div class="flex">
			<div class="copyright">
				&copy; Conor O'Keefe Incorporated 
			</div>
		</div>
	</div>
</footer>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  
  <div style="margin-top: 200px; width: 400px;" class="modal-dialog modal-sm">
    
    <div style="height: 250px;" class="modal-content">
      
      <div class="modal-header">
                 
        <h4 style="text-align: center;" class="modal-title" id="myModalLabel">Who Are You?</h4>
      
      </div>
      
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <button style="background-color: white;" type="button" onclick="window.location.href = '/register'">
              <span style="font-size: 102px; color: #ff3333" class="glyphicon glyphicon-education"></span><br><h6>I am a teacher</h6></button> 
          </div>
          <div class="col-xs-6">
            <button style="background-color: white;" type="button" onclick="window.location.href = '/studentRegister'">
              <span style="font-size: 102px; color: #4dff4d;" class="glyphicon glyphicon-user"></span><br><h6>I am a student</h6></button> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div style="margin-top: 100px;" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div style="margin-top: -80px;" class="modal-header">
        <h4 style="margin-top: 80px;" class="modal-title" id="myModalLabel">Log In</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-xs-7">
          <div class="well">
      <form id="loginform" class="form-horizontal" role="form" method=POST action="{{ url_for('login') }}">
        <h5><b>Username</b></h5>
                    <div style="margin-bottom:25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input style="background: white" id="login-username" type="text" class="form-control" name="email" placeholder="Email or Username" required>
                    </div>

                    <h5><b>Password</b></h5>
                    <div style="margin-bottom:25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input style="background: white" id="login-password" type="password" class="form-control" name="pass" placeholder="Password" required>
                    </div>

                    <button type="submit" class="btn btn-success btn-block">Log In</button>
                </form>
                </div> 
                </div>
                <div class="col-xs-5">
                      <p class="lead">Register now</p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span style="color: green" class="glyphicon glyphicon-ok"></span> Free and easy to use</li>
                          <li><span style="color: green" class="glyphicon glyphicon-ok"></span> Student-Centered/Active Learning</li>
                          <li><span style="color: green" class="glyphicon glyphicon-ok"></span> Multi-functional</li>
                          <li><span style="color: green" class="glyphicon glyphicon-ok"></span> Interactive</li>
                          <li><span style="color: green" class="glyphicon glyphicon-ok"></span> Helps personalize the classroom</li>
                      </ul>
                      <p><a id="btnModal" data-toggle="modal" data-target="#registerModal" class="btn btn-info btn-block">Yes please, register now!</a></p>
                  </div>
                </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
