{% extends "index.html" %}
{% block body %}
{% if 'email' in session %}
{% if uType == "admin" %}
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="profile">Website Name</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ name }} {{surname}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="profilePage"><i class="glyphicon glyphicon-user"></i> View profile</a></li>
              <li><a href="editProfile"><i class="glyphicon glyphicon-cog"></i> Edit Profile</a></li>
              <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
            </ul>
          </li>
          <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<div style="width: 100%; height: 100%;">
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div style="background-color: #222;" id="myDIV" class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar-nav">
                <ul class="nav">
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="nav-divider"></li>

                    <div style="width: 100%; margin: 1.6rem auto; max-width: 76rem; text-align: center;" class="container">
		<div class="cal">
			<div class="cal__header">
				<button class="btn btn-action btn-link btn-lg" data-calendar-toggle="previous"><svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				<path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path></svg></button>
				<div class="cal__header__label" data-calendar-label="month">
					March 2017
				</div><button class="btn btn-action btn-link btn-lg" data-calendar-toggle="next"> <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				<path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path></svg></button>
			</div>
			<div class="cal__week">
				<span>Mo</span> <span>Tu</span><span>We</span> <span>Th</span> <span>Fr</span> <span>Sa</span> <span>Su</span>
			</div>
			<div class="cal__body" data-calendar-area="month"></div>
		</div>

		<p class="demo-picked">
			Date picked: <span data-calendar-label="picked"></span>
		</p>
	</div>
                   <li class="nav-divider"></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->

        <div id="moveJumbo" class="col-xs-12 col-sm-9">
            <br>
            <input class="btn btn-default btn-lg" type='button' id='hideshow' onclick="myFunction()" value='Hide'>
            <h3>Dashboard:</h3>
            <div class="jumbotron">
            <h1>This user is an admin</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>This user is an admin</h2>
                    <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                        friendly HTML, CSS and Javascript.</p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                    <a href="#" class="btn btn-default" data-toggle="offcanvas">HelloWorld</i></a>
                </div>
                <!--/span-->
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to
                        facilitate responsive Web design. </p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                </div>
                <!--/span-->
                
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                        friendly HTML, CSS and Javascript.</p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                </div>
                <!--/span-->
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                        friendly HTML, CSS and Javascript.</p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/span-->
    </div>
{% else %}
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="profile">Website Name</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ name }} {{surname}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="profilePage"><i class="glyphicon glyphicon-user"></i> View profile</a></li>
              <li><a href="editProfile"><i class="glyphicon glyphicon-cog"></i> Edit Profile</a></li>
              <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
            </ul>
          </li>
          <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<div style="width: 100%; height: 100%;">
<div class="container-fluid">
    <div style="padding: 2px;" class="row row-offcanvas row-offcanvas-left">
        <!--Sidebar-->
        <div style="background-color: #222;" id="myDIV" class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar-nav">
                <ul class="nav">
                    <li><a href="UsersPage"><span class="glyphicon glyphicon-user"></span> Users</a></li>
                    <li><a href="UsersPage"><span class="glyphicon glyphicon-user"></span> Users</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="nav-divider"></li>

                    <div style="width: 100%; margin: 1.6rem auto; max-width: 76rem; text-align: center;" class="container">
		<div class="cal">
			<div class="cal__header">
				<button class="btn btn-action btn-link btn-lg" data-calendar-toggle="previous"><svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				<path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path></svg></button>
				<div class="cal__header__label" data-calendar-label="month">
					March 2017
				</div><button class="btn btn-action btn-link btn-lg" data-calendar-toggle="next"> <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				<path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path></svg></button>
			</div>
			<div class="cal__week">
				<span>Mo</span> <span>Tu</span><span>We</span> <span>Th</span> <span>Fr</span> <span>Sa</span> <span>Su</span>
			</div>
			<div class="cal__body" data-calendar-area="month"></div>
		</div>

		<p class="demo-picked">
			Date picked: <span data-calendar-label="picked"></span>
		</p>
	</div>
                   <li class="nav-divider"></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->

        <div id="moveJumbo" class="col-xs-12 col-sm-9">
            <br>
            <input class="btn btn-default btn-lg" type='button' id='hideshow' onclick="myFunction()" value='Hide'>
            <h3>Dashboard:</h3>
            <div class="jumbotron">
            <h1>This user is an instructor</h1>
            <p>Hello {{ name }} {{ surname }} welcome to your home page</p>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>This user is an admin</h2>
                    <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                        friendly HTML, CSS and Javascript.</p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                    <a href="#" class="btn btn-default" data-toggle="offcanvas">HelloWorld</i></a>
                </div>
                <!--/span-->
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to
                        facilitate responsive Web design. </p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                </div>
                <!--/span-->
                
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                        friendly HTML, CSS and Javascript.</p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                </div>
                <!--/span-->
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                        friendly HTML, CSS and Javascript.</p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/span-->
    </div>
</div>
{% endif %}
{% endif %}

{% if 'user_id' in session %}
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="profile">Website Name</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ name }} {{surname}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="profilePage"><i class="glyphicon glyphicon-user"></i> View profile</a></li>
              <li><a href="editProfile"><i class="glyphicon glyphicon-cog"></i> Edit Profile</a></li>
              <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
            </ul>
          </li>
          <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<div style="width: 100%; height: 100%;">
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div style="background-color: #222;" id="myDIV" class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar-nav">
                <ul class="nav">
                    
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="nav-divider"></li>

                    <div style="width: 100%; margin: 1.6rem auto; max-width: 76rem; text-align: center;" class="container">
		<div class="cal">
			<div class="cal__header">
				<button class="btn btn-action btn-link btn-lg" data-calendar-toggle="previous"><svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				<path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path></svg></button>
				<div class="cal__header__label" data-calendar-label="month">
					March 2017
				</div><button class="btn btn-action btn-link btn-lg" data-calendar-toggle="next"> <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				<path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path></svg></button>
			</div>
			<div class="cal__week">
				<span>Mo</span> <span>Tu</span><span>We</span> <span>Th</span> <span>Fr</span> <span>Sa</span> <span>Su</span>
			</div>
			<div class="cal__body" data-calendar-area="month"></div>
		</div>

		<p class="demo-picked">
			Date picked: <span data-calendar-label="picked"></span>
		</p>
	</div>
                   <li class="nav-divider"></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->

        <div id="moveJumbo" class="col-xs-12 col-sm-9">
            <br>
            <input class="btn btn-default btn-lg" type='button' id='hideshow' onclick="myFunction()" value='Hide'>
            <h3>Dashboard:</h3>
            <div class="jumbotron">
            <h1>This user is a student</h1>
            <p>Hello {{ name }} {{ surname }} welcome to your home page</p>
            <h3>Your userid is: {{ userid }}</h3>

            {% if approved == 0 %}
            <h4 style="color: red;">Please wait to be approved</h4>
            {% if b1_todo == 0 %}
            <h3>Hello {{ name }} please complete this quick test <a href="bebras1">Click here</a></h3>
            {% endif %}

            {% else %}
            {% if b1_todo == 0 %}
            <h3>Hello {{ name }} please complete this quick test <a href="bebras1">Click here</a></h3>
            {% endif %}

            {% endif %}


            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>This user is an student</h2>
                    <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                        friendly HTML, CSS and Javascript.</p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                    <a href="#" class="btn btn-default" data-toggle="offcanvas">HelloWorld</i></a>
                </div>
                <!--/span-->
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to
                        facilitate responsive Web design. </p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                </div>
                <!--/span-->
                
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                        friendly HTML, CSS and Javascript.</p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                </div>
                <!--/span-->
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                        friendly HTML, CSS and Javascript.</p>
                    <p><a class="btn btn-default" href="#">View details »</a></p>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/span-->
    </div>
</div>

{% endif %}

    <hr>

    <footer>	
        <p>© Company 2017</p>
        
    </footer>

</div>
</div>
<!--/.container-->

<style type="text/css">
@media screen and (max-width: 768px) {
  #hideshow  { display: none; }
}
	html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  font-size: 1.6rem;
  padding-top: 50px;
  background-color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  color: white;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin: 1.6rem 0;
}

h1 {
  text-align: center;
}
</style>

<script>
window.addEventListener('load', function () {
	vanillacalendar.init();
})
</script>

{% endblock %}

