{% extends "index.html" %}
{% block body %}
{% if 'user_id' in session %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<nav class="navbar navbar-inverse" style="background-color: #140033">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="profile">CS2Go</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ name }} {{surname}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="profilePage"><i class="glyphicon glyphicon-user"></i> View profile</a></li>
              <li><a href="editProfile"><i class="glyphicon glyphicon-cog"></i> Edit Profile</a></li>
              <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
            </ul>
          </li>
          <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

{% endif %}

{% if 'email' in session %}
<nav class="navbar navbar-inverse" style="background-color: #140033">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="profile">CS2Go</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ name }} {{surname}}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="profilePage"><i class="glyphicon glyphicon-user"></i> View profile</a></li>
              <li><a href="editProfile"><i class="glyphicon glyphicon-cog"></i> Edit Profile</a></li>
              <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
            </ul>
          </li>
          <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

{% endif %}


<div class="container">
    <div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class = "panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Update Profile</div>
            </div>

            <div style="padding-top:30px" class="panel-body">
                
                <form id="signupform" class="form-horizontal" role="form" method=POST action="{{ url_for('editProfile') }}">

                    <div style="margin-bottom:25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="name" placeholder="First Name">
                    </div>

                    <div style="margin-bottom:25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="surname" placeholder="Last Name">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                </form>

            </div>           
        </div>

    </div>

</div>
{% endblock %}