{% extends "index.html" %}
{% block body %}

{% if 'user_id' in session %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<nav class="navbar navbar-inverse" style="background-color: #140033">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="profile">CS2Go</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ name }} {{surname}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="profilePage"><i class="glyphicon glyphicon-user"></i> View profile</a></li>
              <li><a href="editProfile"><i class="glyphicon glyphicon-cog"></i> Edit Profile</a></li>
              <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
            </ul>
          </li>
          <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

<div class="container">
  <div class="jumbotron">
    <h2><b><u>Results in Bebras Test 1:</u></b></h2>
    <div class="row">
      <div class="col-md-6">
        <h2>Bebras Quiz</h2> 
      </div>

      <div class="col-md-6">
        <div class="chart-container" style="width: 200px;">
      <canvas id="result1"></canvas>
    </div> 
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h2><b><u>Results in Bebras Test 2:</u></b></h2>
    <div class="row">
      <div class="col-md-6">
        <h2>Bebras Quiz 2</h2> 
      </div>

      <div class="col-md-6">
        <div class="chart-container" style="width: 150px;">
      <canvas id="myChart"></canvas>
    </div> 
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
var ctx = document.getElementById('result1').getContext('2d');

var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',

    data: {
    datasets: [{
      backgroundColor: ['#00e600', '#ff0000'],
      hoverBackgroundColor: ['#009900', '#990000'],
      data: [Math.round(({{ result }}/100)*13), Math.round(((100-{{result}})/100)*13)]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Correct Answers',
        'Wrong Answers'
    ]
},
    options: {
    }
});
</script>

{% endif %}

{% endblock %}