{% extends "index.html" %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="profile">Website Name</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="test"><i>Material</i></a></li>
            <li><a href="UsersPage"><span class="glyphicon glyphicon-list" data-toggle="tooltip" data-original-title="Users"></span></a></li>
          <li><a href="logout"><i class="glyphicon glyphicon-log-out"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

<div class="container">
	<div class="jumbotron">
		<h2><b><u>User</u></b></h2>
		<h4>Student Name: {{selectedUserName}} {{selectedUserSurname}}</h4>
		<h4>UserId: {{selectedUser}}</h4>
		<h4>Bebras Test 1 Completed: {{approved}}</h4>
		<h4>Bebras Test 2 Completed: {{approved}}</h4>
	</div>

	<div class="jumbotron">
		<h2><b><u>Results:</u></b></h2>
		<h4>Bebras Test 1 Completed: {{result}}
      {% if result == 'N/A' %}

      {% else %}%
      {% endif %} <a data-toggle="modal" data-target="#largeModal"><span style="color: red;" class="glyphicon glyphicon-asterisk"></span></a></h4>
      <h4>Bebras Test 2 Completed: {{result2}}
      {% if result == 'N/A' %}

      {% else %}%
      {% endif %} <a data-toggle="modal" data-target="#largeModalBebras2"><span style="color: red;" class="glyphicon glyphicon-asterisk"></span></a></h4>
	</div>

	<div class="jumbotron">
		<h2><b><u>Student Feedback:</u></b></h2>
		<h4>To be implemented</h4>
	</div>

	<a href="UsersPage"><input class="btn btn-primary" type="button" value="Back to Users Page"/></a>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bebras 1 Test - {{selectedUserName}} {{selectedUserSurname}}'s results:</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-4">
            <div class="chart-container" style=" height:180px; width:198px">
      <canvas id="myChart"></canvas>
    </div>
    <br><hr/>
    <div class="chart-container" style=" height:180px; width:198px">
      <canvas id="myChart2"></canvas>
    </div>             
          </div>
          <div class="col-xs-8">
            <table style="font-size: 12px;" class="table table-hover">
    <thead>
      <tr>
        <th>Question</th>
        <th>Answers</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Braclet</td>
        <td>{{ a1 }}</td>
        <td>{% if a1 == 'b' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Animation</td>
        <td>{{ a2 }}</td>
        <td>{% if a2 == 'bdcae' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Animal Competition</td>
        <td>{{ a3 }}</td>
        <td>{% if a3 == '6' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Cross Country</td>
        <td>{{ a4 }}</td>
        <td>{% if a4 == 'C' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Stack Computer</td>
        <td>{{ a5 }}</td>
        <td>{% if a5 == '4 8 3 + * 2' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Throw the Dice</td>
        <td>{{ a6 }}</td>
        <td>{% if a6 == '3' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Drawing Stars</td>
        <td>{{ a7 }}</td>
        <td>{% if a7 == '10:4' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Beaver Lunch</td>
        <td>{{ a8 }}</td>
        <td>{% if a8 == 'D' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>You Won't Find It</td>
        <td>{{ a9 }}</td>
        <td>{% if a9 == 'FLOOD' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Bowl Factory</td>
        <td>{{ a10 }}</td>
        <td>{% if a10 == '4' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Fireworks</td>
        <td>{{ a11 }}</td>
        <td>{% if a11 == '4' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Kangaroo</td>
        <td>{{ a12 }}</td>
        <td>{% if a12 == 'I' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Spies</td>
        <td>{{ a13 }}</td>
        <td>{% if a13 == '4' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
    </tbody>
  </table>
          </div>
        </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="largeModalBebras2" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bebras 2 Test - {{selectedUserName}} {{selectedUserSurname}}'s results:</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-4">
            <div class="chart-container" style=" height:180px; width:198px">
      <canvas id="myChart3"></canvas>
    </div>
    <br><hr/>
    <div class="chart-container" style=" height:180px; width:198px">
      <canvas id="myChart4"></canvas>
    </div>             
          </div>
          <div class="col-xs-8">
            <table style="font-size: 12px;" class="table table-hover">
    <thead>
      <tr>
        <th>Question</th>
        <th>Answers</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bebras Painting</td>
        <td>{{ ba1 }}</td>
        <td>{% if ba1 == 'b
          ' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Bottles</td>
        <td>{{ ba2 }}</td>
        <td>{% if ba2 == 'EDCBA' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Party Guests</td>
        <td>{{ ba3 }}</td>
        <td>{% if ba3 == 'NotSure' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Tube System</td>
        <td>{{ ba4 }}</td>
        <td>{% if ba4 == '3' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Magic Potions</td>
        <td>{{ ba5 }}</td>
        <td>{% if ba5 == 'D' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Concurrent Directions</td>
        <td>{{ ba6 }}</td>
        <td>{% if ba6 == 'N,E,E,S,E' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Secret Messages</td>
        <td>{{ ba7 }}</td>
        <td>{% if ba7 == 'OKIWILLBETHERE!' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Triangles</td>
        <td>{{ ba8 }}</td>
        <td>{% if ba8 == 'b' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Scanner Code</td>
        <td>{{ ba9 }}</td>
        <td>{% if ba9 == 'D' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>The Game</td>
        <td>{{ ba10 }}</td>
        <td>{% if ba10 == '5.1' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>B-Enigma</td>
        <td>{{ ba11 }}</td>
        <td>{% if ba11 == 'UOOOIP' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Theatre</td>
        <td>{{ ba12 }}</td>
        <td>{% if ba12 == 'NotSure' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      <tr>
        <td>Pirate Hunter</td>
        <td>{{ ba13 }}</td>
        <td>{% if ba13 == 'D' %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
    </tbody>
  </table>
          </div>
        </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');

var myDoughnutChart = new Chart(ctx, {
    type: 'pie',

    data: {
    datasets: [{
      backgroundColor: ['#00e600', '#ff0000'],
      hoverBackgroundColor: ['#009900', '#990000'],
      data: [Math.round(({{ result }}/100)*13), Math.round(((100-{{result}})/100)*13)]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Correct Answers',
        'Wrong Answers'
    ]
},
    options: {
    }
});

var ctx1 = document.getElementById('myChart2').getContext('2d');

var myDoughnutChart = new Chart(ctx1, {
    type: 'doughnut',

    data: {
    datasets: [{
      backgroundColor: ['#00e600', '#ff0000'],
      hoverBackgroundColor: ['#009900', '#990000'],
      data: [Math.round(({{ result }}/100)*13), Math.round(((100-{{result}})/100)*13)]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Correct Answers',
        'Wrong Answers'
    ]
},
    options: {
    }
});

var ctx3 = document.getElementById('myChart3').getContext('2d');

var myDoughnutChart = new Chart(ctx3, {
    type: 'doughnut',

    data: {
    datasets: [{
      backgroundColor: ['#00e600', '#ff0000'],
      hoverBackgroundColor: ['#009900', '#990000'],
      data: [Math.round(({{ result2 }}/100)*13), Math.round(((100-{{result2}})/100)*13)]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Correct Answers',
        'Wrong Answers'
    ]
},
    options: {
    }
});

var ctx4 = document.getElementById('myChart4').getContext('2d');

var myDoughnutChart = new Chart(ctx4, {
    type: 'pie',

    data: {
    datasets: [{
      backgroundColor: ['#00e600', '#ff0000'],
      hoverBackgroundColor: ['#009900', '#990000'],
      data: [Math.round(({{ result2 }}/100)*13), Math.round(((100-{{result2}})/100)*13)]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Correct Answers',
        'Wrong Answers'
    ]
},
    options: {
    }
});
</script>

{% endblock %}